/* About order page */
.about_order {
    margin-top: 100px;
}

.about_order__title {
    padding-left: 10px;
    margin-bottom: 10px;
}

.about_order__content {
    background-color: var(--block-background-color);
    border-radius: 15px;
    padding: 10px;
}

.about_order__number {
    font-weight: 600;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.about_order__columns {
    display: flex;
}


.about_order__column_1 {
    flex: 0 1 80%;
}

.about_order-list__text {
    display: inline-block;
    margin-bottom: 5px;
}

.about_order-list__item {
    word-break: break-all;
    margin-bottom: 8px;
}

.about_order-list__item:last-child {
    margin-bottom: 0px;
}

.about_order-list__quantity {
    display: block;
    padding-left: 05px;
}

.about_order-list__product {
    color: var(--main-text-color);
}

.about_order-list__product:hover {
    color: var(--main-text-hover-color);
}


.about_order__column_2 {
    flex: 0 1 20%;
    padding-left: 30px;
}

.about_order__item {
    word-break: break-all;
    margin-bottom: 8px;
}

.about_order__item:last-child {
    margin-bottom: 0px;
}

.about_order-item-information__text {
    display: block;
}

a.about_order-item-information__text {
    color: var(--main-text-color);
}

a.about_order-item-information__text:hover {
    color: var(--main-text-hover-color);
}