/* Authorization page */
.login {
    margin-top: 210px;
    text-align: center;
}

.login__container {
    width: 370px;
    align-items: center;
    background-color: var(--block-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    padding-bottom: 5px;
}

.login__title {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 38px !important;
    padding-top: 50px;
    margin-bottom: 60px;
}

.login-user {
    border-bottom: 2px solid;
    margin: 0px 15px;
    padding-bottom: 8px;
}

.user__email {
    margin-bottom: 20px;
}

.email,
.password,
.confirm-button__text {
    width: 100%;
}

.confirm__button {
    width: 350px;
    padding: 12px 0px;
    margin: 50px auto 10px;
}

.form-registration {
    margin-bottom: 2px;
}

.form__link {
    font-size: 14px;
    color: var(--main-text-color);
}

.form__link:hover {
    text-decoration: underline;
}

.login-text-center {
    padding-bottom: 8px;
}