@import "colors.css";
@import "nullstyle.css";
@import "header.css";

/* Repainting input field for property autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: inset 20px 20px 0px 20px rgb(220, 220, 224)
}

/* -------------------------------------------- */


/* Main page settings */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 16px;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 960px;
    margin: 0px auto;
}

[class*="__title"] {
    font-size: 32px;
    font-weight: 700;
}

/* -------------------------------------------- */

/* index.php settings */
.start_page {
    margin-top: 200px;
}

.start_page__title {
    text-align: center;
    margin-bottom: 30px;
}

.login__link,
.registration__link,
.text {
    display: block;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 12px;
}

/* -------------------------------------------- */


/* Buttons */

.button {
    color: var(--main-button-text-color);
    border-radius: 10px;
    text-align: center;
    transition: 0.25s;
}

.button_green {
    background-color: var(--main-button-color);
}

.button_green:hover {
    background-color: var(--main-button-hover-color);
}

.button_green:active {
    background-color: var(--main-button-active-color);
    position: relative;
    top: 1px;
}

/* -------------------------------------------- */

/* Links */

.link {
    color: var(--maint-text-color);
    transition: 0.15s;
}

.link:hover {
    color: var(--main-text-hover-color);
}

/* -------------------------------------------- */